{% url 'posts:main-post-view' as path_to_post %}
{% url 'posts:my-profile-view' as path_to_myprofile %}
{% url 'posts:all-profiles-view' as path_to_allprofiles %}
{% url 'posts:my-invites-view' as path_to_myinvites %}
{% url 'posts:invite-profiles-view' as path_to_invites %}
{% url 'posts:send-invite' as path_to_sendinvite %}

<div class="ui inverted menu nav mb-7">
    <div class="ui container">
      <a href="" class="item">
          <h3>Gamehub</h3>
      </a>
      {% if request.user.is_authenticated %}
      <a href="{{path_to_post}}" class="{% if request.path == path_to_post %}active{% endif %} item">
          Home
      </a>
      {% endif %}
  
      <div class="right menu">
          {% if request.user.is_authenticated %}
          <div class="item">
              <div class="ui floating dropdown icon button teal"> Friends
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <a href="{{path_to_allprofiles}}" class="{% if request.path == path_to_allprofiles %}active{% endif %} item">
                          All Profiles
                      </a>
                      <a href="{{path_to_invites}}" class="{% if request.path == path_to_invites %}active{% endif %} item">
                          Send Invites
                      </a>
                      <a href="{{path_to_myinvites}}" class="{% if request.path == path_to_myinvites %}active{% endif %} item">
                          Received Invites &nbsp; <div class="ui purple horizontal label">{{invites_num}}</div>
                      </a>
                  </div>
               </div>
          </div>
              <a href="{{path_to_myprofile}}" class="{% if request.path == path_to_myprofile %}active{% endif %} item">
                <img src={{picture.url}} class="ui avatar image">&nbsp;
                {{ request.user }}
              </a> 
              <a href="" class="ui item">
                  {% if user.is_authenticated %}
                  Logout
                  {% endif %}
                  <!-- redirect to login page -->
              </a>
          {% else %}
          <a href="" class="ui item">
              
                  Login
              </a>
          {% endif %}
      </div>
    </div>
  </div>