{% extends "base.html" %}
{% load static %}

{% block title %}
  Library
{% endblock title %}

{% block content %}
   {% for game in games %}
    {% if game.game_name %}
      <div class="wrapper"> 
        <div class="card"> 
          <img class="card-image" src="{{game.image}}" alt="">
          <div class="card-text">
            <h2>{{game.game_name}}</h2>
            <p>{{game.description|safe}}</p>
          </div>
          <div class="card-date">
            <h2>release date: {{game.release_date}}</h2>
          </div>
        </div> 
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}