*{
    font-family: sans-serif;
}

body {
    background: #e1e1e1;
}

.login{
    
}

.nav{
    border-radius: 0px;
    padding: 10px 0 10px 0;
    background-color:#00940c;
    height: 70px;
}

.sun{
    background: #fff;
}
/* 
input[type='checkbox']{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check{
    position: relative;
    display: block;
    width: 70px; height: 30px;
    background: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type="checkbox"]:checked ~ .check
{
    background: #fff;
} */

.mb-7{
    margin-bottom: 7px;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.w-big{
    width: 200px;
}

.mymodal{
    height: 300px;
    top: 200px;
    font-size: 20px;
}

.bwhite-lg {
    background-color: transparent;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

/* LOGIN BUTTON */
.login{
    margin: 0; padding: 0;
    box-sizing: border-box;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #111;
}

.login button{
    position: relative;
    width: 180px;
    height: 60px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.5s;
}

.login button:hover{
    background: rgb(0, 158, 13) url(img/pixel2.png);
    transition-delay: 0.8s;
    animation: pix-animate 0.8s steps(8) forwards;
}

@keyframes pix-animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -480px;
    }
}


