*{
    font-family: roboto, sans-serif;
}

/* LOGIN PAGE */
.login{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 100%; width: 100%;
    background:rgb(6, 6, 39);
    color: #fff;
}
.login-button{
    position: relative;
    width: 180px;height: 60px;
    background:rgb(6, 6, 39);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight:500;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.1s;
}
.login-button:hover{
    background: url(css/img/pixel2.png);
    transition-delay:  0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
}
@keyframes animate {    
    0% {
        background-position-y:0;
    }
    100% {
        background-position-y: -480px;
    }
}

.mb-7{
    margin-bottom: 7px;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.w-big{
    width: 200px;
}

.mymodal{
    height: 300px;
    top: 200px;
    font-size: 20px;
}

.bwhite-lg {
    background-color: transparent;
}

.bwhite-sm {
    background-color: transparent;
    width: 10px;
}

/* GAME LIBRARY */
.wrapper{
    max-height: 600px;
    display: flex;
    overflow-x: auto;
}

.wrapper .card{
    margin-top:2em;
    padding: 10px;
    width: 80vh;
    background: rgb(48, 50, 59);
    color: #ccc;
    text-align: center;
    overflow-y: scroll;
}
 
.wrapper .card-image {
    width: 70vh;
    }
/* 
.card-text{
    grid-area: text;
}

.card-date{
    grid-area: date;
} */