<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}
    
    {% endblock title %}

    {% block content %}
    {{hello}}
    <br>
    {{user}}

    <!-- STEAM AUTH -->
    <a href="{% url "social:begin" "steam" %}">Steam</a>
    <!-- STEAM AUTH -->

    {% endblock content %}

    {% block scripts %}
    <script>
        $(document).ready(function(){
            console.log('working')
        })
    </script>
    {% endblock scripts %}
</body>
</html>