{% extends "base.html" %}
{% load static %}
my invites
{% block title %}
  my invites
{% endblock title %}

{% block content %}

  {% if is_empty %}
  <h1>No invitations here...</h1>
    
  {% endif %}
  <ul>
      {% for item in qs %}
        <li>{{item}}</li>
      {% endfor %}
  </ul>
{% endblock content %}
<ul>
    {% for obj in qs %}
      <div class="ui segment">
        <div class="ui grid">
          <div class="row">
            <div class="three wide column">
              {% if request.user.is_authenticated %}
                <img src={{request.user.profile.avatar}} class="ui avatar image">&nbsp;
              {% else %}
                <img src= {% static "css/img/avatar.png" %}class="ui avatar image">&nbsp;
              {% endif %}
            </div>
            <div class="thirteen wide column">
              <h3>{{obj.user}}</h3>
              <p>{{obj.bio}}</p>
              <br>
              <a href="">
                <button class="ui primary button w-big mb-5">See Profile</button>
              </a>
              <form action="{% url 'profile:accept-invite' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button type="submit" class="ui positive basic button w-big mb-5">
                  <i class="check icon"></i>Accept invite
                </button>
              </form>
              <form action="{% url 'profile:reject-invite' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button type="submit" class="ui negative basic button w-big mb-5">
                  <i class="close icon"></i>Reject invite
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</ul>