{% extends "base.html" %}
{% load static %}

my invites
{% block title %}
  all profile
{% endblock title %}

{% block content %}
    {% if is_empty %}
    <h1>No profile to interact with!</h1>
    {% endif %}
    {% for obj in object_list %}
      <div class="ui segment">
          <div class="ui grid">
              <div class="row">
                  <div class="three wide column">
                    {% if request.user.is_authenticated %}
                    <img src={{request.user.profile.avatar}} class="ui avatar image">&nbsp;
                  {% else %}
                    <img src= {% static "css/img/avatar.png" %}class="ui avatar image">&nbsp;
                  {% endif %}
                  </div>
                  <div class="thirteen wide column">
                      <h3>{{obj.user}}</h3>
                      <p>{{obj.bio}}</p>
                      <a href={{obj.get_absolut_url}}><button class="ui primary button mb-5 w-big">See profile</button></a>
                      {% if obj.user not in rel_receiver and  obj.user not in rel_sender %}
                        <form action="{% url 'profiles:send-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{bj.pk}}>
                                <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon"></i>
                                    Add friend
                                </button>
                        </form>
                        {% endif %}
                  {% if bj.user in rel_receiver and request.user not in obj.friends.all %}
                  <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Waiting for approval</button>
                  {% endif %}
                  {% if request.user in obj.friends.all %}
                  <form action="{% url 'profiles:remove-friends' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{bj.pk}}>
                        <button type="submit" class="ui negative basic button mb-5 w-big"><i class="minus square icon"></i>
                            Removed from friend
                        </button>
                </form>
                {% endif %}
            </div>
              </div>
          </div>
      </div>
    {% endfor %}
{% endblock content %}
